<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <form action="/user" method="post">
        <input type="text" name="phone" >
        <input type="submit" value="Register">
    </form>
    <form action="/verify" method="post">
        <input type="text" name="otp" >
        <input type="submit" value="Verify">
    </form>
</body>
</html>